
<div>
<h2>Details</h2>

<p>Name: {{this.oneDrone.name}}</p> <br>
<p>Propellers: {{this.oneDrone.propellers}}</p> <br>
<p>Speed: {{this.oneDrone.maxSpeed}}</p>
<a href="/drones/{{this.oneDrone._id}}/edit">
<button> Update </button>
</a>


</div>